<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.sportrivia.sdk.internal.ui.UserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SportriviaSDKTheme" />
        <activity
            android:name="com.sportrivia.sdk.internal.ui.CustomGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SportriviaSDKTheme" />
        <activity
            android:name="com.sportrivia.sdk.internal.ui.GameOverActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SportriviaSDKTheme" />
        <activity
            android:name="com.sportrivia.sdk.internal.ui.AnswersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SportriviaSDKTheme" />
    </application>
</manifest>
